<form class="weather-form">
  <mat-form-field class="weather-full-width">
    <mat-label>Place</mat-label>
    <input type="text"
           placeholder="Pick one"
           aria-label="Place"
           matInput
           [formControl]="myControl"
           [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      @for (option of filteredOptions | async; track option) {
        <mat-option [value]="option.name">{{option.name}}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>


<!--<div *ngIf="selectedPlace">
  <h3>Details for {{ selectedPlace.name }}</h3>
  <p><strong>Temperature Min:</strong> {{ selectedPlace.tempmin }}</p>
  <p><strong>Temperature Max:</strong> {{ selectedPlace.tempmax }}</p>
  <p><strong>Phenomenon Night:</strong> {{ selectedPlace.phenomenonNight }}</p>
  <p><strong>Phenomenon Day:</strong> {{ selectedPlace.phenomenonDay }}</p>
  <p><strong>Date:</strong> {{ selectedPlace.date | date }}</p>
</div>-->
